includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	ignoreErrors:
		- '#^Parameter \#1 \$credentials \(array\<string\>\) of method Contributte\\Security\\Auth\\.+\:\:authenticate\(\) should be contravariant with parameter \$credentials \(array\) of method Nette\\Security\\IAuthenticator\:\:authenticate\(\)$#'
